build
bin
*.idea
*.iml
lib/
vendor/
.bundle/
build/
out/
.idea
.gradle
*.iml
*.class
*.ipr
*.iws
*.gem
*.gemspec
Gemfile*
settings.gradle
gradle.properties

.classpath
.project
.settings/
logstash-core-7.10.3.jar
